@model WitBird.XiaoChangHe.Models.JumpModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>成都印象微跑堂</title>
    <meta http-equiv=refresh content="0;url=@Model.ToUrl">
</head>
<body>
    <div>
        跳转中，请稍后...
    </div>
</body>
</html>
