@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单</title>
    <link href="http://css.savory.cn/wedinner/index2.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="http://css.savory.cn/wedinner/wddd.css" rel="stylesheet" type="text/css">
    <script src="http://js.savory.cn/wedinner/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="content_header">
                创建时间 2015-05-21 14:25:51
                <div class="content_content">
                    <div class="content_img"><img src="http://img.savory.cn/wedinner/1.png"></div>
                    <div class="content_title">
                        <span class="title_l">味蜀吾老火锅(金牛万达)</span><span class="title_r">未付款</span><br />散座（8人）
                        <br />2015-05-22 周五 12:30
                    </div>
                </div>
            </div>
            <div class="footer">
                <span>订单金额：<span class="money">238元</span></span>
                <div class="fuk">确认付款</div>
            </div>
        </div>
        <div class="content">
            <div class="content_header">
                创建时间 2015-05-21 14:25:51
                <div class="content_content">
                    <div class="content_img"><img src="http://img.savory.cn/wedinner/1.png"></div>
                    <div class="content_title">
                        <span class="title_l">味蜀吾老火锅(金牛万达)</span><span class="title_r">未付款</span><br />散座（8人）
                        <br />2015-05-22 周五 12:30
                    </div>
                </div>
            </div>
            <div class="footer">
                <span>订单金额：<span class="money">238元</span></span>
                <div class="fuk">申请退款</div>
            </div>
        </div>
    </div>
</body>
</html>