@model List<WitBird.XiaoChangeHe.Core.Entity.OrderSummary>

@using WitBird.XiaoChangHe.Models.Info;
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单</title>
    <link href="http://css.savory.cn/wedinner/index2.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="http://css.savory.cn/wedinner/wddd.css" rel="stylesheet" type="text/css">
    <script src="http://js.savory.cn/wedinner/jquery.js"></script>
</head>
<body>
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var order in Model)
            {
                <div class="content">
                    <div class="content_header">
                        创建时间 @order.CreateTime.ToString("yyyy-MM-dd hh:mm:ss")
                        <div class="content_content">
                            <div class="content_img"><img src="http://img.savory.cn/wedinner/1.png"></div>
                            <div class="content_title">
                                <span class="title_l"><a href="/NewOrder/Detail/@ViewBag.CompanyId/@ViewBag.SourceAccountId?orderId=@order.OrderId">味蜀吾老火锅(金牛万达)</a></span>
                                <br />散座（8人）
                                @if (order.DiningDate != null)
                                {
                                    <br />@order.DiningDate.Value.ToString("yyyy-MM-dd ddd hh:mm")
                                }
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span>订单金额：<span class="money">@order.TotalMoney.ToString("0.00")元</span></span>
                        @if (order.Status)
                        {
                            <div><a href="/NewOrder/Detail/@ViewBag.CompanyId/@ViewBag.SourceAccountId?orderId=@order.OrderId">查看订单</a></div>
                        }
                        else
                        {
                            <div class="fuk"><a href="/NewOrder/Detail/@ViewBag.CompanyId/@ViewBag.SourceAccountId?orderId=@order.OrderId">确认付款</a></div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                <a href="/order/begin/@ViewBag.CompanyId/@ViewBag.SourceAccountId">你还没下单，去点餐</a>
            </div>
        }
    </div>
</body>
</html>