@model WitBird.XiaoChangeHe.Core.Entity.ActivityDetail
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>活动详情</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--   引入css -->
    <link href="~/NewContent/style/hdxq.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <span class="title">@Model.Title</span><br />
        @if (!string.IsNullOrEmpty(Model.TimePlace))
        {
            <span class="title2">@Model.TimePlace</span>
        }
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="content-img">
                <img src="~/NewContent/images/content.png">
            </div>
        }
        <div class="center">
            @if (!string.IsNullOrEmpty(Model.ContentText))
            {
                <span class="content-title">活动说明：</span><br />
                <span>@Model.ContentText</span>
            }
            <a href="~/NewUI/tjt.html"><div class="jindu">查看活动进度</div></a>
            <!-- 如何成为线上vip说明-->
            <span class="content-title">如何成为线上VIP?</span><br /><br />
            加入“线上VIP”的唯一途径就是获得小场合围观成都活动举办期间受邀"媒体名人"分享的邀请码并完成分享验证即可。<br /><br />
            <!--已有邀请码，可直接点击申请加入-->
            <span class="red"><center>已有邀请码？</center></span>
            <a href="~/NewUI/vip.html"> <div class="jindu jiaru">立即加入</div></a>
        </div>
    </div>
</body>
</html>










