@model List<WitBird.XiaoChangeHe.Core.Entity.Activity>
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>活动列表</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--引入css和js-->
    <link href="~/NewContent/style/hdlb.css" rel="stylesheet" type="text/css">
    <script src="~/NewContent/js/jquery.js"></script>
    <script src="~/NewContent/js/hdlb.js"></script>
</head>
<body>
    <div class="container">
        @if (ViewBag.State == 1)//当前页面是正在进行中的活动
        {
            <ul>
                <li class="bg1">进行中活动</li>
                <li><a href="/activity/index/2">已结束活动</a></li>
            </ul>
        }
        else//当前页面是已经结束的活动
        {
            <ul>
                <li><a href="/activity">进行中活动</a></li>
                <li class="bg1">已结束活动</li>
            </ul>
        }
        <!-- 进行中活动和已结束活动按钮-->
        <!--内容区域开始-->
        <div class="content">
            <a href="../Activity/View/1">
                <div class="content-img">
                    <!-- 最大的图片-->
                    <img src="~/NewContent/images/chu.png">
                    <!-- 最大的图片提示语-->
                    <div class="zhe" style="position:relative;width:97%">亲, 熊孩子在家不？</div>
                </div>
            </a>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var activity in Model)
                {
                    <div class="content-list">
                        <div class="c"><a href="/Activity/Detail/@activity.Id">@activity.Title</a></div>
                        <div class="content-list-img">
                            <img src="@activity.ImageUrl">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>









