@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>活动列表</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--引入css和js-->
    <link href="~/NewContent/style/hdlb.css" rel="stylesheet" type="text/css">
    <script src="~/NewContent/js/jquery.js"></script>
    <script src="~/NewContent/js/hdlb.js"></script>
</head>
<body>
    <div class="container">
        <!-- 进行中活动和已结束活动按钮-->
        <ul>
            <li>进行中活动</li>
            <li class="bg1">已结束活动</li>
        </ul>
        <!--内容区域开始-->
        <div class="content">
            <a href="../Activity/View/1">
                <div class="content-img">
                    <!-- 最大的图片-->
                    <img src="~/NewContent/images/chu.png">
                    <!-- 最大的图片提示语-->
                    <div class="zhe" style="position:relative;width:97%">亲, 熊孩子在家不？</div>
                </div>
            </a>
            <!-- 内容列表1 有标题 有图片 标题超出部分显示...-->
            <div class="content-list">
                <div class="c">召唤12对儿神仙召唤12对儿神仙召唤12对儿神仙</div>
                <div class="content-list-img">
                    <img src="~/NewContent/images/list1.png">
                </div>
            </div>

            <!-- 复制测试数据 复制上面的列表1-->
            <div class="content-list">
                <div class="c">走，组队看小鲜肉【姜漕】去~</div>
                <div class="content-list-img">
                    <img src="~/NewContent/images/list2.png">
                </div>
            </div>

            <!-- 复制测试数据 复制上面的列表1-->
            <div class="content-list">
                <div class="c">走，组队看小鲜肉【姜漕】去~</div>
                <div class="content-list-img">
                    <img src="~/NewContent/images/list3.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>









