@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>验证通过</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--引入css-->
    <link href="/NewUI/style/tg.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
        <!--   验证通过提示语-->
        <div class="content">
            恭喜你，你已通过小场合的邀请码（<span class="num">4S565HJ</span>）成功加入小场合.围观成都线上VIP!<br />
            <br /><span class="content-center"> (把惊喜传递给更多小伙伴吧^_^)</span>
        </div>
    </div>
    <!-- 立即分享按钮-->
    <div class="fenx">立即分享</div>
    </div>
</body>
</html>
