@{
    ViewBag.Title = "ConsumptionRecords";
    Layout = "";
}

@using WitBird.XiaoChangHe.Models.Info
@model IEnumerable<PrepayRecord>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no, minimum-scale= 0.5" />
    <title>消费记录</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>
    <link href="~/Content/public.css" rel="stylesheet" />
    <link href="~/Content/member.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <style>
        .header_img { width: 96%; margin: 2% 2%; }
            .header_img img { width: 100%; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header_img">
            @if (ViewBag.AccountMoney == 0)
            {
                <img src="~/NewContent/images/w.png" />

            }
            else
            {
                <img src="~/NewContent/images/chu.png" />
            }
            <div style="padding-left: 20px;
  color: #fff;
  font-family: 微软雅黑;
  margin-top: -40px;
  float: left;
  position: absolute;">NO.@(ViewBag.Uid)</div>
</div>

<form id="payment">
    <div>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (PrepayRecord info in Model)
            {

                <ol style="padding: 0px; border:1px solid #808080">
                    <li>
                        <label for="name">订单:</label>
                        <span id="BillPayId" style="color:#d32502;font-size:13px;">@(info.SId.Replace("-", ""))</span>
                    </li>
                    <li>
                        <label for="name">金额:</label>
                        <span id="AddMoney" style="color:#d32502">¥@(info.AddMoney)</span>
                    </li>

                    <li>
                        <label for="PrepayDate">时间:</label>
                        <span id="PrepayDate" style="color:#d32502">@(info != null ? info.PrepayDate : new DateTime())</span>
                    </li>

                </ol>
            }
        }
        else
        {
            <span>暂未查询到消费记录</span>
        }

    </div>
</form>
</div>
</body>

</html>


