@model WitBird.XiaoChangHe.Models.Info.CrmMember
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员信息</title>
    <link href="~/NewContent/style/czhy.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
</head>
<body>
    <div class="container">
        @if (Model != null)
        {
        <!--图-->
            <div class="header_img">
                @if (ViewBag.AccountMoney == 0)
                {
                    <img src="~/NewContent/images/w.png" />

                }
                else
                {
                    <img src="~/NewContent/images/chu.png" />
                }
                <div style="padding-left: 20px;
  color: #fff;
  font-family: 微软雅黑;
  margin-top: -40px;
  float: left;
  position: absolute;">NO.@(Model.Uid)</div>
</div>
    <!--立即充值按钮-->
            <a href="/pay/prerecharge/@ViewBag.CompanyId/@ViewBag.SourceAccountId"><div class="submit">立即充值</div></a>
            if (ViewBag.AccountMoney == 0)
            {

  <!--提示语-->
                <div class="tishi">（充值成为储值会员，享双重优惠！充1000送300，部分菜品享受会员价格）</div>
            }
    <!--预存余额-->
            <div class="conent1">　预存余额　 @ViewBag.AccountMoney</div>
    <!--赠送金额-->
            <div class="conent1">　赠送金额　 @ViewBag.PresentMoney</div>
            if (ViewBag.AccountMoney == 0)
            {
            <!--积分-->
                <div class="conent1">　积　　分　 @ViewBag.Score</div>
            }
    <!--消费记录 可点击-->
            <a href="/member/ConsumptionRecords/@(Model.Uid)/@(ViewBag.SourceAccountId)?companyId=@(ViewBag.CompanyId)">
                <div class="conent1">　消费记录 <span class="con_r">></span></div>
            </a>
    <!--充值记录 可点击-->
            <a href="/member/RechargeRecord/@(Model.Uid)/@(ViewBag.SourceAccountId)?companyId=@(ViewBag.CompanyId)">
                <div class="conent1">　充值记录  <span class="con_r">></span></div>
            </a>
    <!--完善会员卡资料 可点击-->
            <a href="/member/editMemberInfo/@(ViewBag.CompanyId)/@(ViewBag.SourceAccountId)">
                <div class="conent1">　完善会员卡资料  <span class="con_r">></span></div>
            </a>
    <!--选择门店电话及地址 可点击-->
            <a href="/Order/Begin/@ViewBag.CompanyId/@ViewBag.SourceAccountId">
                <div class="conent1">　适用门店电话及地址  <span class="con_r">></span></div>
            </a>
        }
        else
        {
            <span>非法请求或连接超时，请回到公众号重新发起链接请求</span>
        }
    </div>
    <div class="footer">
        <img src="~/NewContent/images/wpt.JPG" width="29" height="24">
        <!--底部版权标识-->
        <span class="wpt">微跑堂</span> ©成都爱信雅克科技有限公司
    </div>
</body>
</html>
