
@{
    ViewBag.Title = "myOrder";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no, minimum-scale= 0.5" />
    <title>我的订单</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>
    <link href="~/Content/public.css" rel="stylesheet" />
   <link href="~/Content/SelTableInfo.css" rel="stylesheet" />
    <script></script>
    <script src="/Scripts/jquery-1.7.1.min.js"></script>

</head>
<body>
    <nav id="info">
        <ul>
            <li>
                <a href="#" style="color:#ccc">
                    <nav>
                           <img src="~/Content/images/ico_dian.png"/>
                        <span>店名：</span>

                    </nav>
                    <nav><span>订餐类型：</span></nav>
                    <nav><span>订餐时间：</span></nav>
                    <nav><span>人数：</span></nav>
                    <div>
                        <img src="~/Content/images/ico_quxiao.png"/>
                        <span>取消订单</span>

                    </div>
                     
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>




