@using WitBird.XiaoChangHe.Models.Info;
@model IEnumerable<ProductNew>

@{
    Layout = null;
}
<!-- the content start -->
    @if (Model != null)
    {
        foreach (ProductNew item in Model)
        {
            <div class="content2">
                <div class="content_img">
                    <img src="/Order/GetImages/@(item.Id)"></div>
                <span class="img_title">@item.ProductName</span><span class="img_money" id="rmb@(item.Id)">@(item.Price)元</span>
                <div class="content-z-bottom">
                    <div class="right_q"><span class="s_left">-</span><input class="text_box" name="" type="text" value="1" />
                        <span class="s_right">+</span></div>
                </div>
            </div>     
        }
    }

<input  type="hidden" value="@ViewBag.OrderId" id="OrderId"/>
<input type="hidden" value="@ViewBag.MemberCardNo" id="MemberCardNo"/>

<!-- the content end -->

