@{
    ViewBag.Title = "Addr";
    Layout = "";
}
@using WitBird.XiaoChangHe.Models.Info;
@model NewRestaurantAbstract

<!DOCTYPE html>
<html lang="en">
<head>
    <title>店面信息</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--引入css和js-->
    <link href="~/NewContent/style/index2.css" rel="stylesheet" type="text/css">
    <link href="~/NewContent/css/lunbo.css" type="text/css" rel="stylesheet" />
    <script src="~/NewContent/js/jquery.js"></script>
    <script>
        //设置3秒自动轮播一次
        $(function () {
            setInterval(function () {
                $(".arrow-right").trigger("click");
            }, 3000)
        });

    </script>
    <!-- 点击可打电话js-->
    <script>
        function phone(date) {
            window.location.href = 'tel://' + date;
        }
    </script>
</head>
<body style="-webkit-padding-end: 0px;
-webkit-padding-start: 0px;">
     @* <nav style="background: #ddd">
        <input type="search" placeholder="搜索店面、地址" />

    </nav>*@
    <form id="payment">
       @foreach (Restaurant item in Model)
       {
        <fieldset>
            <legend></legend>
            <ol>
                <li>
                      <nav style="border-bottom: 1px solid #ccc;  margin-bottom: 5px; height: 6.5em; margin-top: 5px;">
                    <nav class="food-image">
                        <img id="Rstimg" src="http://www.opentable.com/img/restimages/x6/105217.jpg" />
                    </nav>
                            <nav style="margin-left: 90px;">
                                <span id="RstName">@(item != null ? item.Name : "")</span>
                            </nav>
                    <nav style="margin-left: 90px;">
                        <span>地址：</span>
                        <span>@(item != null ? item.Address : "")</span>
                       
                    </nav>
                     <nav style="margin-left: 90px;">
                        <span>营业时间：</span>
                        <span>@(item.BusinessStartDate != null ? item.BusinessStartDate.ToString("hh:mm:ss") : "")--@(item.BusinessEndtDate != null ? item.BusinessEndtDate.ToString("hh:mm:ss") : "")</span>
                    </nav>
                          </nav>
                     <nav id="bottom">
                        <img src="~/Content/images/55e_07.png" />
                        <span>@(item != null ? item.ContactPhone : "")</span>

                         <img src="~/Content/images/55e_09.png" />
                         <span >导航</span>
                         <img  src="~/Content/images/55e_12.png"/>
                         <span id="end">实景</span>
                    </nav>
                    <div style="clear: left"></div>
                </li>
            </ol>
        </fieldset>
       }
         
    </form>
</body>

</html>
   