@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using WitBird.XiaoChangHe.Models.Info;
@model IEnumerable<News>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no, minimum-scale= 0.5" />
    <title>新闻</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>
    <script src="/Scripts/jquery-1.7.1.min.js"></script>  
     <link href="~/Content/News.css" rel="stylesheet" />
</head>
<body >
    <nav >
        <img src="~/Content/images/img.png"  style="width:100%;"/>
    </nav>

    <ul>
          @if (Model != null)
          {

              foreach (News item in Model)
              {
        <li> 
            <img src="~/Content/images/img.png" style="width:5em;float:left;margin-right: 10px;" />
            <span>@item.Title</span>
        </li>
              }
          }
    </ul>

</body>
</html>
